# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Angular build output
rivals-dashboard/dist/
rivals-dashboard/.angular/
